.counter-wrap
  .container.fixed-width
    .row.justify-content-center.align-items-center
      .col.ma-sm-0.my-4
        .counter-item.deco
          .text
            h3 +200
            p #{$t.medical_landing.about_clinics}
      .col.ma-sm-0.my-4
        .counter-item.deco
          .text
            h3 +450
            p #{$t.medical_landing.about_doctor}
      .col.ma-sm-0.my-4
        .counter-item
          .text
            h2 24
            p #{$t.medical_landing.about_hours}